.accordion {

    &__item {
        display: flex;
        flex-wrap: wrap;
        padding-top: 40px;
        border-bottom: 1px solid rgba(20, 19, 19, .2);
        transition: all var(--wp--transition);

        @media screen and (max-width: 1470px) {
            padding-top: 24px;
        }

        @include max-break(480px) {
            padding-top: 18px;
        }

        &:first-of-type {
            padding-top: 0;
        }

        &.active {
            padding-bottom: 24px;

            @include max-break(320px) {
                padding-bottom: 20px;
            }

            .accordion {
                &__item-desc {
                    max-height: 2000px;
                }

                &__item-title {
                    background: var(--wp--gradient--experience-bg);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;

                    &:after {
                        background-color: var(--wp--color--portfolio-owner-name);
                    }
                }

                &__item-switcher {
                    &:after {
                        background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCA0MCA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNNi42NjY2OSAyMEgzMy4zMzM0IiBzdHJva2U9IiMxNDEzMTMiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+PC9zdmc+) center center no-repeat;
                        background-size: contain;
                    }
                }
            }
        }
    }

    &__item-title-wrap {
        width: 100%;
        display: flex;
        align-items: center;
        padding-bottom: 20px;

        @include max-break(570px) {
            padding-bottom: 15px;
        }

        @include max-break(320px) {
            padding-bottom: 10px;
        }
    }

    &__item-title {
        width: 100%;
        padding-left: 48px;
        position: relative;
        z-index: 1;
        color: var(--wp--color--normal-text);
        font-weight: 700;
        transition: all var(--wp--transition);
        text-transform: uppercase;
        cursor: pointer;

        @include max-break(1470px) {
            font-size: 32px;
        }

        @include max-break(1280px) {
            font-size: 28px;
        }

        @include max-break(570px) {
            font-size: 22px;
            padding-left: 35px;
        }

        @include max-break(480px) {
            padding-left: 25px;
            font-size: 20px;
        }

        @include max-break(375px) {
            font-size: 18px;
        }

        @include max-break(320px) {
            font-size: 16px;
        }

        &:after {
            position: absolute;
            content: '';
            display: block;
            left: 19px;
            top: 11px;
            width: 10px;
            height: 9px;
            border-radius: 4px;
            background-color: var(--wp--color--normal-text);
            z-index: 1;

            @include max-break(1470px) {
                top: 7px;
            }

            @include max-break(570px) {
                left: 10px;
            }

            @include max-break(480px) {
                top: 5px;
                left: 0;
            }

            @include max-break(375px) {
                top: 4px;
            }
        }
    }

    &__item-desc {
        width: calc(100% - 100px);
        padding-left: 48px;
        max-height: 0;
        overflow: hidden;
        position: static;
        transition: max-height var(--wp--transition);
        font-size: 20px;
        font-weight: 400;
        line-height: 1.2;

        @include max-break(991px) {
            font-size: 22px;
        }

        @include max-break(570px) {
            padding-left: 35px;
            width: calc(100% - 25px);
            font-size: 16px;
        }

        @include max-break(480px) {
            padding-left: 25px;
            font-size: 14px;
        }

        * {
            font-size: inherit;
            font-weight: inherit;
            line-height: inherit;
        }

        img {
            margin-top: 30px;
            margin-bottom: 30px;
            max-width: 430px;
            width: 100%;
        }
    }

    &__item-switcher {
        width: 40px;
        height: 40px;
        min-width: 40px;
        max-width: max-content;
        flex-shrink: 0;
        padding-left: 75px;
        position: relative;
        z-index: 1;
        cursor: pointer;

        @include max-break(570px) {
            width: 30px;
            height: 30px;
            min-width: 30px;
        }

        @include max-break(480px) {
            height: 25px;
            min-width: 25px;
            width: 25px;
        }

        &:after {
            position: absolute;
            content: '';
            display: block;
            left: 35px;
            top: 0;
            width: 40px;
            height: 40px;
            z-index: 1;
            background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCA0MCA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNNi42NjY2OSAyMEgzMy4zMzM0IiBzdHJva2U9IiMxNDEzMTMiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+PHBhdGggZD0iTTIwIDYuNjY2OTlWMzMuMzMzNyIgc3Ryb2tlPSIjMTQxMzEzIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPjwvc3ZnPg==) center center no-repeat;
            background-size: contain;

            @include max-break(570px) {
                left: 45px;
                width: 30px;
                height: 30px;
            }

            @include max-break(480px) {
                left: 50px;
                width: 25px;
                height: 25px;
            }
        }
    }
}
