.custom-sidebar {
    height: 100vh;
    min-width: 285px;
    max-width: 285px;
    flex-shrink: 0;
    padding: 56px 48px;
    position: sticky;
    top: 0;
    left: 0;
    overflow-y: auto;

    @include max-break(1750px) {
        max-width: 265px;
        min-width: 265px;
        padding-left: 35px;
        padding-right: 35px;
    }

    @include max-break(1600px) {
        max-width: 250px;
        min-width: 250px;
        padding-left: 30px;
        padding-right: 20px;
    }

    @include max-break(1470px) {
        padding-left: 25px;
        padding-top: 35px;
    }

    @include max-break(1280px) {
        max-width: 210px;
        min-width: 210px;
    }

    @include max-break(1030px) {
        padding-left: 16px;
        padding-top: 25px;
        max-width: 170px;
        min-width: 170px;
    }

    @include max-break(768px) {
        padding-right: 16px;
        max-width: 230px;
        min-width: 230px;
        padding-top: 65px;
    }

    &__left-mobile {
        display: none;

        @include max-break(768px) {
            display: flex;
        }

        .custom-sidebar__left  {
            display: block;
        }
    }

    &__burger-menu-wrap {
        display: none;
        padding: 10px;
        position: absolute;
        right: -51px;
        top: 15px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background: var(--wp--color--sidebar-bg);
        transition: right var(--wp--transition);

        @include max-break(768px) {
            display: block;
            box-shadow: 1px 0 10px 0 #FFF;
        }

        @include max-break(670px) {
            right: -44px;
        }

        @include max-break(480px) {
            padding: 10px;
        }

        &:before,
        &:after {
            position: absolute;
            content: '';
            display: block;
            left: 2px;
            width: 15px;
            height: 15px;
            z-index: 1;
        }

        &:before {
            top: -15px;
            border-bottom-left-radius: 100%;
            box-shadow: -4px 3px 0 3px var(--wp--color--sidebar-bg);
        }

        &:after {
            bottom: -15px;
            border-top-left-radius: 100%;
            box-shadow: -4px -4px 0 3px var(--wp--color--sidebar-bg);
        }
    }
    
    &__burger-menu {
        height: 24px;
        width: 30px;
        cursor: pointer;
        position: relative;
        z-index: 10;
        pointer-events: none;

        @include max-break(670px) {
            height: 19px;
            width: 25px;
        }

        @include max-break(480px) {
            height: 20px;
            width: 26px;
        }

        .burger__line {
            display: block;
            width: 100%;
            height: 3px;
            background: var(--wp--color--white);
            position: absolute;
            z-index: 11;
            left: 0;
            transition: all var(--wp--transition);
            pointer-events: none;
        }

        .burger__line-first {
            top: 0;
        }

        .burger__line-second,
        .burger__line-third {
            top: 50%;
            transform: translateY(-50%)
        }

        .burger__line-fourth {
            bottom: 0;
        }

        &.burger-active {
            .burger__line-first,
            .burger__line-fourth {
                opacity: 0;
            }

            .burger__line-second,
            .burger__line-third {
                width: calc(100% - 10px);
                left: 10px;
            }

            .burger__line-second {
                transform: translateY(-50%) rotate(45deg);
            }

            .burger__line-third {
                transform: translateY(-50%) rotate(-45deg);
            }
        }
    }

    &__left {
        border-right: 1px solid rgba(20, 19, 19, 0.10);
        background: var(--wp--color--sidebar-bg);

        @include max-break(768px) {
            transform: translateX(-100%);
            position: fixed;
            left: 0;
            top: 0;
            z-index: 100;
            overflow: unset;
            transition: transform var(--wp--transition);
            display: none;
        }

        &.burger-active {
            @include max-break(768px) {
                transform: translateX(0);
                overflow-y: auto;
            }

            .custom-sidebar__burger-menu-wrap {
                right: 0;
                box-shadow: unset;
            }
        }

        .custom-sidebar__social-item {
            background-color: var(--wp--color--sidebar-social-bg);
            opacity: 1;
            border: none;

            &:hover {
                background: var(--wp--gradient--orange-to-lilac);

                .custom-sidebar {
                    &__social-icon {
                        opacity: 0;
                        width: 0;
                    }

                    &__social-h-icon {
                        opacity: 1;
                        width: auto;
                    }
                }
            }
        }
    }

    &__social-icon {
        opacity: 1;
        width: auto;
    }

    &__social-h-icon {
        opacity: 0;
        width: 0;
    }

    &__right {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        @include max-break(1750px) {
            min-width: 200px;
            max-width: 200px;
        }

        @include max-break(1650px) {
            min-width: 170px;
            max-width: 170px;
        }

        @include max-break(1470px) {
            max-width: 160px;
            min-width: 160px;
        }

        @include max-break(1280px) {
            max-width: 130px;
            min-width: 130px;
        }

        @include max-break(1030px) {
            max-width: 100px;
            min-width: 100px;
        }

        @include max-break(850px) {
            display: none;
        }

        .custom-sidebar {
            &__social-item {
                &:hover {
                    border-color: var(--wp--gradient--orange-to-lilac);
                }
            }

            &__social-wrap {
                width: max-content;
                margin-bottom: 0;
                padding-bottom: 156px;
                position: relative;
                z-index: 1;

                @include max-break(1600px) {
                    right: 16px;
                }

                @include max-break(1280px) {
                    right: 12px;
                }

                @include max-break(1199px) {
                    right: 10px;
                }

                @include max-break(1030px) {
                    right: 0;
                }

                @include max-break(991px) {
                    right: -1px;
                }

                &:after {
                    position: absolute;
                    content: '';
                    display: block;
                    left: 50%;
                    bottom: 0;
                    transform: translateX(-50%);
                    width: 2px;
                    height: 131px;
                    z-index: 1;
                    background-color: rgba(20, 19, 19, .3);

                    @include max-break(1280px) {
                        width: 1px;
                    }
                }
            }
        }
    }

    &__social-wrap {
        display: flex;
        flex-direction: column;
    }

    &__logo {
        display: flex;
        margin-bottom: 100px;

        @include max-break(1600px) {
            margin-bottom: 80px;
        }

        @include max-break(1470px) {
            margin-bottom: 60px;
        }

        @include max-break(1030px) {
            margin-bottom: 50px;
        }

        img {
            width: 100%;
            height: 40px;
            object-fit: contain;
        }
    }

    &__menu {
        margin-bottom: 218px;

        @include max-break(1750px) {
            margin-bottom: 150px;
        }

        @include max-break(1600px) {
            margin-bottom: 80px;
        }

        @include max-break(1030px) {
            margin-bottom: 65px;
        }

        .menu-item {
            width: max-content;
            color: var(--wp--color--sidebar-menu-item);
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5;
            text-transform: uppercase;
            margin-bottom: 10px;
            position: relative;
            z-index: 1;

            @include max-break(1600px) {
                font-size: 16px;
            }

            @include max-break(1199px) {
                font-size: 14px;
                line-height: 1.3;
            }

            @include max-break(1030px) {
                font-size: 13px;
                margin-bottom: 5px;
            }

            @include max-break(991px) {
                font-size: 12px;
            }

            &:after {
                position: absolute;
                content: '';
                display: block;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 4px;
                z-index: -1;
                opacity: 0;
                background-image: var(--wp--gradient--orange-to-lilac);
                transition: opacity .5s ease-out;

                @include max-break(1030px) {
                    height: 3px;
                }
            }

            &:hover {
                &:after {
                    opacity: 1;
                }
            }

            &.current-item {
                &:after {
                    opacity: 1;
                }
            }

            &:last-of-type {
                margin-bottom: 0;
            }

            a,
            span {
                display: inline-block;
                padding-top: 5px;
                padding-bottom: 5px;
                color: inherit;
                font-size: inherit;
                font-style: inherit;
                font-weight: inherit;
                line-height: inherit;
                text-transform: inherit;
            }
        }
    }

    &__social-wrap {
        margin-bottom: 30px;
    }

    &__social-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        margin-bottom: 12px;
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid var(--wp--color--sidebar-social-border);

        @include max-break(1030px) {
            width: 36px;
            height: 36px;
        }

        &:last-of-type {
            margin-bottom: 0;
        }

        img {
            height: auto;
            object-fit: contain;
        }
    }

    &__copyright {
        color: var(--wp--color--sidebar-menu-item);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.37;

        @include max-break(1540px) {
            font-size: 14px;
        }

        @include max-break(1030px) {
            font-size: 12px;
        }

        @include max-break(768px) {
            font-size: 10px;
        }
    }
}
