.custom-sidebar {
    height: 100vh;
    min-width: 285px;
    max-width: 285px;
    flex-shrink: 0;
    padding: 56px 48px;
    position: sticky;
    top: 0;
    left: 0;
    overflow-y: auto;

    &__left {
        border-right: 1px solid rgba(20, 19, 19, 0.10);
        background: var(--wp--color--sidebar-bg);

        .custom-sidebar__social-item {
            background-color: var(--wp--color--sidebar-social-bg);
            opacity: 1;
            border: none;
        }
    }

    &__right {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .custom-sidebar {
            &__social-item {
                &:hover {
                    border-color: var(--wp--gradient--orange-to-lilac);
                }
            }

            &__social-wrap {
                width: max-content;
                margin-bottom: 0;
                padding-bottom: 156px;
                position: relative;
                z-index: 1;

                &:after {
                    position: absolute;
                    content: '';
                    display: block;
                    left: 50%;
                    bottom: 0;
                    transform: translateX(-50%);
                    width: 2px;
                    height: 131px;
                    z-index: 1;
                    background-color: rgba(20, 19, 19, .3);
                }
            }
        }
    }

    &__social-wrap {
        display: flex;
        flex-direction: column;
    }

    &__logo {
        display: flex;
        margin-bottom: 100px;
    }

    &__menu {
        margin-bottom: 218px;

        .menu-item {
            width: max-content;
            color: var(--wp--color--sidebar-menu-item);
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5;
            text-transform: uppercase;
            margin-bottom: 10px;
            position: relative;
            z-index: 1;

            &:after {
                position: absolute;
                content: '';
                display: block;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 100%;
                height: 4px;
                z-index: -1;
                opacity: 0;
                background-image: var(--wp--gradient--orange-to-lilac);
                transition: opacity .5s ease-out;
            }

            &.active-menu-item {
                &:after {
                    opacity: 1;
                }
            }

            &:last-of-type {
                margin-bottom: 0;
            }

            a,
            span {
                display: inline-block;
                padding-top: 5px;
                padding-bottom: 5px;
                color: inherit;
                font-size: inherit;
                font-style: inherit;
                font-weight: inherit;
                line-height: inherit;
                text-transform: inherit;
            }
        }
    }

    &__social-wrap {
        margin-bottom: 30px;
    }

    &__social-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        margin-bottom: 12px;
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid var(--wp--color--sidebar-social-border);

        &:last-of-type {
            margin-bottom: 0;
        }

        img {
            width: fit-content;
            height: auto;
            object-fit: contain;
        }
    }

    &__copyright {
        color: var(--wp--color--sidebar-menu-item);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.37;
    }
}
