.experience {
    padding-top: 120px;
    padding-bottom: 140px;
    background: var(--wp--gradient--experience-bg);
    padding-right: 115px;

    @include max-break(1750px) {
        padding-right: 90px;
    }

    @include max-break(1650px) {
        padding-bottom: 80px;
        padding-top: 80px;
    }

    @include max-break(1540px) {
        padding-bottom: 80px;
        padding-top: 80px;
    }

    @include max-break(1470px) {
        padding-right: 70px;
    }

    @include max-break(1280px) {
        padding-right: 60px;
    }

    @include max-break(991px) {
        padding-bottom: 80px;
        padding-top: 80px;
    }

    @include max-break(850px) {
        padding-right: 0;
    }

    @include max-break(670px) {
        padding-bottom: 65px;
        padding-top: 60px;
    }

    @include max-break(570px) {
        padding-bottom: 40px;
        padding-top: 40px;
    }

    &__content-wrap {
        display: flex;
        justify-content: space-between;

        @include max-break(670px) {
            flex-direction: column;
        }
    }

    &__left-col {
        max-width: 396px;
        margin-right: 70px;
        min-width: 400px;

        @include max-break(1370px) {
            min-width: 350px;
        }

        @include max-break(670px) {
            margin-right: 0;
            margin-bottom: 50px;
            max-width: unset;
            min-width: unset;
        }

        @include max-break(570px) {
            margin-bottom: 40px;
        }
    }

    &__pre-title,
    &__title,
    &__description,
    &__working-period,
    &__working-location,
    &__job-position {
        color: var(--wp--color--white);
    }

    &__pre-title,
    &__title {
        @include max-break(570px) {
            text-align: center;
        }
    }

    &__title {
        margin-bottom: 24px;

        @include max-break(570px) {
            margin-bottom: 15px;
        }
    }

    &__description {
        margin-bottom: 48px;
        max-width: 385px;
        line-height: 1.55;

        @include max-break(670px) {
            max-width: 100%;
            margin-bottom: 0;
            font-size: 22px;
        }

        @include max-break(570px) {
            font-size: 14px;
            line-height: 1.4;
        }
    }

    &__right-col {
        width: 100%;
        max-width: 545px;
        padding-top: 35px;

        @include max-break(850px) {
            padding-top: 40px;
        }

        @include max-break(768px) {
            max-width: 50%;
        }

        @include max-break(670px) {
            max-width: unset;
            margin-bottom: 50px;
            padding-top: 0;
        }

        @include max-break(480px) {
            margin-bottom: 35px;
        }
    }

    &__items {

    }

    &__item {
        margin-bottom: 60px;

        @include max-break(670px) {
            margin-bottom: 35px;
        }

        @include max-break(570px) {
            margin-bottom: 25px;
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__item-info {
        margin-bottom: 12px;
        display: flex;
        justify-content: space-between;

        @include max-break(570px) {
            margin-bottom: 5px;
        }
    }

    &__working-period {
        font-size: 18px;
        font-style: italic;
        font-weight: 700;
        line-height: 1.33;

        @include max-break(570px) {
            font-size: 14px;
        }

        @include max-break(480px) {
            font-size: 12px;
        }
    }

    &__working-location {
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;

        @include max-break(570px) {
            font-size: 14px;
        }

        @include max-break(480px) {
            font-size: 12px;
        }
    }

    &__job-position {
        font-weight: 700;
        line-height: 1.5;
        text-transform: uppercase;
    }

    &__btn {

        &.desktop {
            @include max-break(670px) {
                display: none;
            }
        }

        &.mobile {
            display: none;

            @include max-break(670px) {
                display: flex;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

