.service {
    padding-top: 80px;
    padding-bottom: 92px;

    @include max-break(1540px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @include max-break(670px) {
        padding-bottom: 55px;
        padding-top: 55px;
    }

    @include max-break(570px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    @include max-break(480px) {
        padding-top: 40px;
        padding-bottom: 24px;
    }

    &__content-wrap {

    }

    &__pre-title,
    &__title {
        @include max-break(570px) {
            text-align: center;
        }
    }

    &__title {
        @include max-break(670px) {
            margin-bottom: 30px;
        }

        @include max-break(320px) {
            margin-bottom: 25px;
        }
    }

    &__content {
        @include max-break(1540px) {
            padding-top: 10px;
        }

        @include max-break(768px) {
            zoom: 1.4;
        }

        @include max-break(670px) {
            zoom: 1.1;
        }

        @include max-break(570px) {
            zoom: 1;
        }
    }

    &__accordion {

    }
}

