@import 'parts/reset';
@import 'parts/mixin';
@import 'parts/fonts';
@import 'parts/global';
@import 'parts/UI';
@import 'parts/button';
@import 'parts/header';
@import 'parts/footer';
@import 'parts/modal_window';
@import 'parts/404';
@import 'parts/cookies';

/*components*/


