.section-404 {
    width: 100%;
    background-color: #000;
    height: 100vh;
    user-select: none;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__main-img-wrap {
        width: 790px;
        margin-bottom: 30px;

        @include max-break(1600px) {
            width: 695px;
        }

        @include max-break(1370px) {
            width: 620px;
        }

        @include max-break(1199px) {
            width: 530px;
        }

        @include max-break(1030px) {
            width: 470px;
            margin-bottom: 25px;
        }

        @include max-break(850px) {
            width: 390px;
        }

        @include max-break(768px) {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }

        @include max-break(670px) {
            width: 60%;
        }

        @include max-break(570px) {
            width: 80%;
        }
    }

    &__main-img {
        width: 100%;
        height: auto;
    }

    &__text {
        font-size: 26px;
        font-family: var(--wp--font-family--title);
        font-weight: 900;
        color: #FFF;
        text-align: center;
        margin-bottom: 50px;

        @include max-break(1600px) {
            font-size: 24px;
        }

        @include max-break(1370px) {
            font-size: 22px;
        }

        @include max-break(1199px) {
            font-size: 18px;
        }

        @include max-break(1030px) {
            font-size: 16px;
            margin-bottom: 40px;
        }

        @include max-break(850px) {
            font-size: 14px;
            margin-bottom: 35px;
        }

        @include max-break(768px) {
            font-size: 24px;
            margin-bottom: 35px;
            max-width: 450px;
            margin-left: auto;
            margin-right: auto;
        }

        @include max-break(670px) {
            max-width: 335px;
            font-size: 18px;
        }

        @include max-break(570px) {
            max-width: 450px;
            font-size: 24px;
        }

        @include max-break(480px) {
            max-width: 85%;
        }

        @include max-break(375px) {
            font-size: 20px;
        }

        @include max-break(320px) {
            font-size: 18px;
        }
    }

    &__back-home-btn {
        font-size: 18px;
        color: #FFF;
        font-weight: 500;
        background: var(--wp--gradient--experience-bg);
        text-transform: uppercase;
        display: flex;
        padding: 14px 30px;
        border: none;
        border-radius: 30px;
        width: max-content;
        margin-left: auto;
        margin-right: auto;

        @include max-break(1370px) {
            font-size: 14px;
        }

        @include max-break(850px) {
            padding: 12px 25px;
        }
    }

}

