/* stylelint-disable */
:root {
    --wp--font-family--title: "IBM Plex Sans", sans-serif;
    --wp--font-family--404-text: "Crossfit Demo", sans-serif;
    --wp--font-family--roboto-condensed: 'Roboto Condensed', sans-serif;
    --wp--font-family--roboto: 'Roboto', sans-serif;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('../fonts/IBMPlexSans-Bold.eot');
    src: url('../fonts/IBMPlexSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/IBMPlexSans-Bold.woff2') format('woff2'),
    url('../fonts/IBMPlexSans-Bold.woff') format('woff'),
    url('../fonts/IBMPlexSans-Bold.ttf') format('truetype'),
    url('../fonts/IBMPlexSans-Bold.svg#IBMPlexSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('../fonts/IBMPlexSans-Regular.eot');
    src: url('../fonts/IBMPlexSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/IBMPlexSans-Regular.woff2') format('woff2'),
    url('../fonts/IBMPlexSans-Regular.woff') format('woff'),
    url('../fonts/IBMPlexSans-Regular.ttf') format('truetype'),
    url('../fonts/IBMPlexSans-Regular.svg#IBMPlexSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('../fonts/IBMPlexSans-BoldItalic.eot');
    src: url('../fonts/IBMPlexSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/IBMPlexSans-BoldItalic.woff2') format('woff2'),
    url('../fonts/IBMPlexSans-BoldItalic.woff') format('woff'),
    url('../fonts/IBMPlexSans-BoldItalic.ttf') format('truetype'),
    url('../fonts/IBMPlexSans-BoldItalic.svg#IBMPlexSans-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('../fonts/IBMPlexSans-SemiBoldItalic.eot');
    src: url('../fonts/IBMPlexSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/IBMPlexSans-SemiBoldItalic.woff2') format('woff2'),
    url('../fonts/IBMPlexSans-SemiBoldItalic.woff') format('woff'),
    url('../fonts/IBMPlexSans-SemiBoldItalic.ttf') format('truetype'),
    url('../fonts/IBMPlexSans-SemiBoldItalic.svg#IBMPlexSans-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('../fonts/IBMPlexSans-Medium.eot');
    src: url('../fonts/IBMPlexSans-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/IBMPlexSans-Medium.woff2') format('woff2'),
    url('../fonts/IBMPlexSans-Medium.woff') format('woff'),
    url('../fonts/IBMPlexSans-Medium.ttf') format('truetype'),
    url('../fonts/IBMPlexSans-Medium.svg#IBMPlexSans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Crossfit Demo';
    src: url('../fonts/CrossfitDemo-Bold.eot');
    src: url('../fonts/CrossfitDemo-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CrossfitDemo-Bold.woff2') format('woff2'),
    url('../fonts/CrossfitDemo-Bold.woff') format('woff'),
    url('../fonts/CrossfitDemo-Bold.ttf') format('truetype'),
    url('../fonts/CrossfitDemo-Bold.svg#CrossfitDemo-Bold') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.eot');
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Bold.woff2') format('woff2'),
    url('../fonts/Roboto-Bold.woff') format('woff'),
    url('../fonts/Roboto-Bold.ttf') format('truetype'),
    url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.eot');
    src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Light.woff2') format('woff2'),
    url('../fonts/Roboto-Light.woff') format('woff'),
    url('../fonts/Roboto-Light.ttf') format('truetype'),
    url('../fonts/Roboto-Light.svg#Roboto-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/RobotoCondensed-Light.eot');
    src: url('../fonts/RobotoCondensed-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RobotoCondensed-Light.woff2') format('woff2'),
    url('../fonts/RobotoCondensed-Light.woff') format('woff'),
    url('../fonts/RobotoCondensed-Light.ttf') format('truetype'),
    url('../fonts/RobotoCondensed-Light.svg#RobotoCondensed-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/RobotoCondensed-Regular.eot');
    src: url('../fonts/RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RobotoCondensed-Regular.woff2') format('woff2'),
    url('../fonts/RobotoCondensed-Regular.woff') format('woff'),
    url('../fonts/RobotoCondensed-Regular.ttf') format('truetype'),
    url('../fonts/RobotoCondensed-Regular.svg#RobotoCondensed-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}



/* stylelint-enable */

