:root {
    --wp--preset--color--normal-text: #141313;
    --wp--preset--color--white: #FFF;
    --wp--preset--gradient--orange-to-lilac: linear-gradient(273deg, #FFB147 0%, #FF6C63 52.03%, #B86ADF 100%);
}


#main-wrapper {
    width: 100vw;
    min-width: 100%;
}

#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body {
    overflow-x: hidden;
    max-width: 100vw;
    width: 100vw;
    position: relative;
    min-height: 100vh;
    font-family: var(--wp--preset--font-family--title);

    &.error404 {
        overflow: hidden;
    }

    &.popup-opened {
        overflow: hidden;

        @media screen and (max-width: 768px) {
            height: 100vh;
        }
    }

    * {
        box-sizing: border-box;
        color: var(--wp--preset--color--normal-text);
    }
}

.custom-right-sidebar {
    min-width: 285px;
    max-width: 285px;
    flex-shrink: 0;
}

section {
    width: 100%;
}

.container {
    width: 100vw;
    display: flex;
    position: relative;
    z-index: 1;


    //@include max-break('1360px') {
    //    max-width: 1240px;
    //    padding: 0;
    //}

    @include max-break(small) {
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;

    }

    &.full-width {
        padding: 0;
        width: 100vw;
        max-width: 100vw;
    }
}

.container-inner {
    max-width: 1350px;
    padding: 0 0 0 114px;
    //margin: 0 auto;

    //@include max-break('1360px') {
    //    max-width: 1240px;
    //    padding: 0;
    //}

    @include max-break(small) {
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;

    }

    &.full-width {
        padding: 0;
        width: 100vw;
        max-width: 100vw;
    }
}

ol {
    padding-left: 20px;

    li {
        list-style-type: decimal;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 1.2;
        margin-bottom: 15px;
    }
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--wp--preset--color--white);
    font-family: var(--wp--preset--font-family--title);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.33;
    padding: 16px 72px 16px 40px;
    background: var(--wp--preset--color--normal-text);
    position: relative;
    z-index: 1;
    appearance: none;
    border: none;
    outline: none;
    width: max-content;

    &:after {
        position: absolute;
        content: '';
        display: block;
        right: 40px;
        top: 50%;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        z-index: 1;
        background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cmVjdCB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9InVybCgjcGFpbnQwX2xpbmVhcl8xXzUwMCkiLz48cGF0aCBkPSJNOS4wMDAyIDQuODAwMTFWNi43MjAxMUgxNS4zMjY2TDQuMjAwMiAxNy44NDY1TDUuNTUzOCAxOS4yMDAxTDE2LjY4MDIgOC4wNzM3MVYxNC40MDAxSDE4LjYwMDJWNC44MDAxMUg5LjAwMDJaIiBmaWxsPSJ3aGl0ZSIvPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0icGFpbnQwX2xpbmVhcl8xXzUwMCIgeDE9IjIyLjYzOCIgeTE9IjE2Ljg4ODYiIHgyPSIxLjg2ODQ4IiB5Mj0iMTYuODMyMyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiPjxzdG9wIHN0b3AtY29sb3I9IiNGRkIxNDciLz48c3RvcCBvZmZzZXQ9IjAuNTIwMjY0IiBzdG9wLWNvbG9yPSIjRkY2QzYzIi8+PHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjQjg2QURGIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PC9zdmc+) center center no-repeat;
        background-size: contain;
    }

    &:hover {
        opacity: .9;
    }
}

.swiper {
    &.swiper--feedbacks {
        .swiper-pagination-bullet {
            background: rgba(151, 200, 216, 1);
            transition: ease-out 0.35s;
        }

        .swiper-pagination-bullet-active {
            background: rgba(0, 84, 103, 1);
            transition: ease-out 0.35s;
        }
    }

    &.swiper--props {
        .swiper-pagination-bullet {
            background: rgba(151, 200, 216, 1);
            transition: ease-out 0.35s;
        }

        .swiper-pagination-bullet-active {
            background: white;
            transition: ease-out 0.35s;
        }
    }

    &.swiper--benefits .swiper-slide {
        height: auto;
    }
}
